openapi: 3.0.0
info:
  version: 1.0.0
  title:  Order service Seata swagger
  license:
    name: MIT
servers:
  - url: 'http://www.mservicetech.com/v1'
paths:
  /placeOrder:
    post:
      summary: Create a new Order
      operationId: createOrder
      requestBody:
        description: a new order transaction
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      tags:
        - orders
      security:
        - order_auth:
            - 'read:order'
            - 'write:order'
      responses:
        '200':
          description: OK response
          content:
            application/json:
              schema:
                type: string
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    order_auth:
      type: oauth2
      description: This API uses OAuth 2 with the client credential grant flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://localhost:6882/token'
          scopes:
            'write:order': modify/create order
            'read:order': read orders
  schemas:
    Order:
      type: object
      required:
        - orderId
      properties:
        orderId:
          type: integer
          format: int64
        accountId:
          type: integer
          format: int64
        orderDate:
          type: string
          format: date
        totalAmount:
          type: number
        orderItems:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
    OrderItem:
      type: object
      required:
        - itemId
      properties:
        itemId:
          type: integer
          format: int64
        productId:
          type: integer
          format: int64
        quantity:
          type: integer
        unitPrice:
          type: number
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
